{{ template "layout" . }}
{{ define "main" }}
<div class="main-content">
    <section class="section">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Dosen</h4>
              <div class="card-header-action">
                <a href="/tambah-dosen" class="btn btn-danger">Tambah <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive table-invoice">
                <table class="table table-striped">
                  <tr>
                    <th>ID</th>
                    <th>NIP</th>
                    <th>Name</th>
                    <th>Matkul</th>
                    <th>Aksi</th>
                  </tr>
                  {{ range .}}
                  <tr>
                    <td><a href="#">{{ .ID }}</a></td>
                    <td class="font-weight-600"><a href="/detail-dosen?id={{ .ID }}">{{ .NIP }}</a></td>
                    <td><div class="badge badge-warning">{{ .Name }}</div></td>
                    <td>{{ .Matkul_id }}</td>                  
                    <td>
                      <a href="/edit-dosen?id={{ .ID }}" class="btn btn-primary btn-sm mb-2">Edit</a>
                      <a href="/delete-dosen?id={{ .ID }}&userId={{ .User_id }}" class="btn btn-primary btn-sm mb-2">Hapus</a>
                    </td>
                  </tr>
                  {{ end }}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{{ end }}