{{ template "layout" . }}
{{ define "main" }}
<div class="main-content">
    <section class="section">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Dosen</h4>
            </div>
            <div class="card-body p-0">            
                <div class="card">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card-header">
                        <h4>Tambah Dosen</h4>                     
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="text-right mr-4 mt-5">
                        <a href="/dosen"><button class="btn btn-danger">Kembali</button></a>
                      </div>
                    </div>
                  </div>
                  <form action="/store-dosen" method="POST">
                    <div class="card-body">
                      <div class="form-group">
                        <label>NIP</label>
                        <input type="text" class="form-control" name="nim" required="">
                      </div>
                      <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" name="name" required="">
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" required="">
                      </div>
                      <div class="form-group">
                        <label for="matkul">Matkul</label>
                        <select name="matkul_id" class="form-control" id="matkul" required>
                          {{ range .}}
                          <option value="{{ .ID }}">{{ .Nama }}</option>
                          {{ end }}
                        </select>
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <button class="btn btn-primary">Tambah</button>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{{ end }}