{{ template "layout" . }}
{{ define "main" }}
<div class="main-content">
    <section class="section">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Dashboard</h4>
            </div>
            <div class="card-body p-5">
                <div class="text-center mt-5 mb-5 pt-5 pb-5">
                  {{ range .}}
                  <h4 class="mb-3">Selamat Datang {{ .Nama }}</h4>
                  <h6>Email : {{ .Email }}</h6>
                  {{ end }}
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{{ end }}