
<div class="main-sidebar">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="#">Manajemen Kampus</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="#">MK</a>
      </div>
      <ul class="sidebar-menu">
          <li class="menu-header">Dashboard</li>
          <li class="nav-item dropdown active">
            <a href="/dashboard" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
          </li>
          <li class="menu-header">General</li>
          <li class="nav-item dropdown">
            <a href="/kelas" class="nav-link"><i class="far fa-file-alt"></i> <span>Daftar Kelas</span></a>
            <a href="/user" class="nav-link"><i class="far fa-file-alt"></i> <span>Daftar User</span></a>
          </li>
          <li class="menu-header">Mahasiswa</li>
          <li class="nav-item dropdown">
            <a href="/mahasiswa" class="nav-link"><i class="fas fa-user"></i> <span>Mahasiswa</span></a>
          </li>
          <!-- <li><a class="nav-link" href="blank.html"><i class="fas fa-file-alt"></i> <span>Daftar Nilai</span></a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link"><i class="far fa-file-alt"></i> <span>Daftar Tugas</span></a>
          </li> -->
          <li class="menu-header">Dosen</li>
          <li class="nav-item dropdown">
            <a href="/dosen" class="nav-link"><i class="fas fa-user"></i> <span>Dosen</span></a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link"><i class="far fa-file-alt"></i> <span>Jadwal</span></a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link"><i class="fas fa-fire"></i> <span>Riwayat Tugas</span></a>
          </li> -->
          <li class="menu-header">Matkul</li>
          <li class="nav-item dropdown">
            <a href="/matkul" class="nav-link"><i class="far fa-file-alt"></i> <span>Mata Kuliah</span></a>
          </li>
          <!-- <li><a class="nav-link" href="/jadwal"><i class="fas fa-rocket"></i> <span>Jadwal Matkul</span></a></li>         -->
        </ul>
    </aside>
  </div>
  